@Html.DevExpress().GridView(settings =>
{
    settings.Name = "GVPartialShift";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "ShiftMaster", Action = "PartialShiftGrid" };

    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    //settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    settings.KeyFieldName = "ShiftID";
    settings.EnableRowsCache = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;

    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftName";
        column.Caption = "Shift Name";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftCode";
        column.Caption = "Shift Code";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftStartTime";
        column.Caption = "Shift Start Time";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
      

    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftEndTime";
        column.Caption = "Shift End Time";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ConsiderLateAfter";
    //    column.Caption = "Consider Late After";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ConsiderHalfDayAfter";
    //    column.Caption = "Consider Half Day After";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftBreak";
        column.Caption = "Break";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });


    settings.Columns.Add(c =>
    {
        c.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                "<div class='floatedBtnArea'><a href=\"javascript:void(0);\" onclick=\"OnClickEditForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "','" + DataBinder.Eval(tc.DataItem, "Shift_Type") + "')\" class=\"\" title=\"Edit\"><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span><span class='hidden-xs'>Edit</span></a>" +
                 "&nbsp;" +
                "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true'></i></span><span class='hidden-xs'>Delete</span></a></div>"
            );
        });
        c.Settings.AllowDragDrop = DefaultBoolean.False;
        c.Settings.AllowSort = DefaultBoolean.False;
        c.Width = 1;
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
    settings.ClientSideEvents.RowClick = "gridRowclick";
}).Bind(Model).GetHtml()
