

          #lookup_Project .dxeButtonEditClearButton_PlasticBlue {
           display: table-cell;
       }


        #dataTbl .dataTables_empty {
            display:none;
        }
        .padRight15 {
            padding-right: 15px;
        }
        .padTop23 {
                padding-top: 23px;
        }
       
        .inline {
            display: inline !important;
        } 

        .dxtcLite_PlasticBlue.dxtc-top > .dxtc-content {
            overflow: visible !important; 
        }

        .dxeDisabled_PlasticBlue, .aspNetDisabled {
            opacity: 1.5;
        }

        .abs {
            position: absolute;
            right: -20px;
            top: 10px;
        }


        .fa.fa-exclamation-circle:before {
            font-family: FontAwesome;
        }

        .tp2 {
            right: -18px;
            top: 7px;
            position: absolute;
        }

        #txtCreditLimit_EC {
            position: absolute;
        }

        #grid_DXStatus span > a {
            display: none;
        }

        #aspxGridTax_DXEditingErrorRow0 {
            display: none;
        }

        .validclass {
            position: absolute;
            right: -4px;
            top: 15px;
        }

        .mandt {
            position: absolute;
            right: -18px;
            top: 4px;
        }

        .msgStyle {
            font-size: 18px;
            color: red;
        }
    
        .boxStyle {
            padding: 5px;
    background: #f7f7f7;
    margin: 0 15px 8px 15px;
    border: 1px solid #ccc;
        }
        .link {
            cursor:pointer;
        }
        .pdLeft0 {
            padding-left:0 !important;
        }
        #dataTbl_wrapper .dataTables_scrollHeadInner, #dataTbl_wrapper .dataTables_scrollHeadInner table {
            width:100% !important;
        }
         #dataTbl_wrapper .dataTables_scrollHeadInner table>thead>tr>th {
             background:#337ab7;
             color:#fff;
             padding: 2px 15px;
         }
         #tbodySecondUOM>td{
             padding: 2px 25px;
         }
         #dataTbl_wrapper .dataTables_scrollHeadInner table>thead>tr>th:not(:last-child) {
             border-right:#333;
         }

            .eqTble > tbody>tr>td {
            padding:0 7px;
            vertical-align:top;
        }
   
        .dxgvControl_PlasticBlue td.dxgvBatchEditModifiedCell_PlasticBlue {
            background: #fff !important;
        }

        /*#grid_DXEditingErrorRow-1 {
            display: none;
        }*/

        /*#grid_DXStatus span > a {
            display: none;
        }

        #gridTax_DXStatus span > a {
            display: none;
        }*/

        #grid_DXStatus {
            display: none;
        }

        #aspxGridTax_DXStatus {
            display: none;
        }

        #gridTax_DXStatus {
            display: none;
        }

        .hideCell {
            display: none;
        }

        #productLookUp_DDD_gv_DXMainTable > tbody > tr > td:nth-child(2) {
            display: none;
        }
    
        .dxeErrorFrameSys.dxeErrorCellSys {
            position: absolute;
        }

        .dxeButtonEditClearButton_PlasticBlue {
            display: none;
        }

        #txt_Rate {
            min-height: 24px;
        }

        .col-md-3 > label {
            margin-bottom: 3px;
            margin-top: 0;
            display: block;
        }

        .mTop {
            margin-top: 10px;
            padding: 5px 20px;
        }

        #DivBilling [class^="col-md"], #DivShipping [class^="col-md"] {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #grid_DXMainTable > tbody > tr > td:last-child {
            display: none !important;
        }
   
         .mlableWh{
            padding-top: 22px;
            display:inline-block
        }
        .mlableWh>input +span {
            white-space: nowrap;
        }