@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridContractResourcesList";

    settings.CallbackRouteValues = new { Action = "GetContractResources", Controller = "ContractOrder" };
    settings.ClientSideEvents.BeginCallback = "OnResourcesStartCallback";
    //settings.ClientSideEvents.EndCallback = "OnResourcesEndCallback()";

    settings.KeyFieldName = "SlNO";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.SettingsEditing.BatchUpdateRouteValues = new { Controller = "ContractOrder", Action = "BatchEditingUpdateBOMResources" };
    //settings.Settings.VerticalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;

    settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
    //settings.Settings.HorizontalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.Settings.VerticalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 110;
    ///settings.SettingsBehavior.ColumnResizeMode = DevExpress.Web.ColumnResizeMode.Control;
    //settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    //settings.SettingsSearchPanel.Visible = true;
   // settings.Settings.ShowFilterRow = false;
    //settings.Settings.ShowGroupPanel = false;
   // settings.SettingsContextMenu.EnableColumnMenu = DevExpress.Utils.DefaultBoolean.True;

    settings.ClientSideEvents.BatchEditStartEditing = "ResourceBatchStartEditing";

    //settings.ClientSideEvents.CustomButtonClick = "grid_CustomButtonGridResourcesClick";

    settings.SettingsEditing.Mode = DevExpress.Web.GridViewEditingMode.Batch;
    settings.CommandColumn.Visible = false;
    settings.SettingsBehavior.AllowSort = false;

    //settings.Settings.ShowFooter = true;
    //settings.SettingsContextMenu.EnableFooterMenu = DevExpress.Utils.DefaultBoolean.True;


    //settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    //settings.SettingsPager.PageSizeItemSettings.Visible = false;
    //settings.SettingsPager.PageSize = 10;
    //settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    //settings.Settings.ShowFilterRowMenu = false;

    settings.SettingsEditing.NewItemRowPosition = DevExpress.Web.GridViewNewItemRowPosition.Bottom;
    settings.ClientSideEvents.RowClick = "gridResourceclick";

    //var del = new GridViewCommandColumnCustomButton();
    //del.Text = " ";
    //del.Image.Url = "/assests/images/crs.png";
    //del.ID = "Delete";

    //settings.CommandColumn.CustomButtons.Add(del);
    //settings.CommandColumn.Caption = " ";
    //settings.CommandColumn.Visible = true;
    ////settings.CommandColumn.VisibleIndex = 0;
    //settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Percentage(5);
    //settings.CommandColumn.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    //settings.CommandColumn.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

    //var del = new GridViewCommandColumnCustomButton();
    //del.Text = " ";
    //del.Image.Url = "/assests/images/crs.png";

    //del.ID = "Delete";

   
    settings.Columns.Add(x =>
    {
        x.FieldName = "";
        x.Caption = " ";
        //x.VisibleIndex = 2;
        // x.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(5);
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.False;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        //x.FixedStyle = DevExpress.Web.GridViewColumnFixedStyle.Left;
        x.ReadOnly = true;
    });


    settings.HtmlDataCellPrepared += (s, e) =>
    {

        if (e.DataColumn.Caption == " ")
        {
            var buttonHtml1 = "";
            buttonHtml1 = string.Format(" <a class='example-image-link' style='cursor: pointer;' onclick='grid_CustomButtonGridResourcesClick()' data-lightbox='example-1'><img src='/assests/images/crs.png'></a>");
            e.Cell.ID = "Delete";
            e.Cell.Text = buttonHtml1;
        }
    };

    settings.Columns.Add(x =>
    {
        x.FieldName = "SlNO";
        x.Caption = "Sl#";
        x.ReadOnly = true;
        //x.VisibleIndex = 2;
       // x.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(7);
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.False;
        //x.FixedStyle = DevExpress.Web.GridViewColumnFixedStyle.Left;

        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;

    });



    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductName";

        x.Caption = "Resource";
        //x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.ButtonEdit;
        DevExpress.Web.ButtonEditProperties ButtonEditProperties = x.PropertiesEdit as DevExpress.Web.ButtonEditProperties;

        ButtonEditProperties.Buttons.Add("...");
        ButtonEditProperties.ClientSideEvents.ButtonClick = "OpenNonInventoryProductList";
        ButtonEditProperties.ClientSideEvents.KeyDown = "NonIProductKeyDown";

        ButtonEditProperties.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        x.ReadOnly = true;
    });



    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductDescription";
      
        x.Caption = "Description";
        //x.VisibleIndex = 4;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        //x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        //x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
       
        x.ReadOnly = true;
    });

    

    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductQty";
        x.Caption = "Qty";
        //x.VisibleIndex = 7;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<0000..9999>";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;

        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        txtEditProperties.ClientSideEvents.LostFocus = "ContractResourceGridSetAmountQty";

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductUOM";
        x.Caption = "UOM";
        //x.VisibleIndex = 8;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.ReadOnly = true;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Warehouse";
        x.Caption = "Warehouse";
        //x.VisibleIndex = 9;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.ReadOnly = true;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.Visible = false;
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "Price";
        //x.Caption = "Price";
        ////x.VisibleIndex = 9;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        //x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        //x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;

        x.Caption = "Price";
        //x.VisibleIndex = 10;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<00..99>";

        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        txtEditProperties.ClientSideEvents.LostFocus = "ContractResourceGridSetAmount";
        txtEditProperties.ClientSideEvents.KeyDown = "ContractResourceGridUOMFocus";
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;

        //x.SetDataItemTemplateContent(c =>
        //{
        //    ViewContext.Writer.Write(
        //        "<input type='text' value='" + Convert.ToString(DataBinder.Eval(c.DataItem, "StockUOM")) + "' id='" + Convert.ToString(DataBinder.Eval(c.DataItem, "SlNO")) + "_txtPrice'>"


         //       );
       // });

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Amount";
        x.Caption = "Amount";
        //x.VisibleIndex = 11;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<00..99>";
        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        txtEditProperties.ClientSideEvents.LostFocus = "ContractGridResourceSetTotalAmount";
        txtEditProperties.ClientSideEvents.GotFocus = "ContractResourceGridSetAmount";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
       // x.ReadOnly = true;
    });

   
    settings.Columns.Add(x =>
    {
        x.FieldName = "ResourceCharges";
        //x.Caption = "BOM No.";
        ////x.VisibleIndex = 11;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        //x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        //x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;


        x.Caption = "Charges";
        //x.VisibleIndex = 12;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.ButtonEdit;
        //x.Properties.Buttons.Add();
        //var a = x.Properties as DevExpress.Web.ButtonEditProperties;
        //a.Properties.Buttons.Add();

        DevExpress.Web.ButtonEditProperties ButtonEditProperties = x.PropertiesEdit as DevExpress.Web.ButtonEditProperties;

        ButtonEditProperties.Buttons.Add("...");
        ButtonEditProperties.ClientSideEvents.ButtonClick = "OpenContractList";
        ButtonEditProperties.ClientSideEvents.KeyDown = "ContractKeyDown";
        x.ReadOnly = true;

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Remarks";
        x.Caption = "Remarks";
        //x.VisibleIndex = 15;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).ClientSideEvents.KeyDown = "AddRowResourceKeyDown";

    });

    settings.SettingsEditing.ShowModelErrorsForEditors = true;
    settings.SettingsEditing.BatchEditSettings.StartEditAction = GridViewBatchStartEditAction.Click;
    


    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductId";
        x.Caption = "Product Id";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Settings.AllowAutoFilter = DefaultBoolean.False;
        x.Width = 0;

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductsWarehouseID";
        x.Caption = "Products Warehouse ID";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Settings.AllowAutoFilter = DefaultBoolean.False;
        x.Width = 0;

    });

settings.Columns.Add(x =>
    {
        x.FieldName = "UpdateEdit";
        x.Caption = "";
        //x.VisibleIndex = -1;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(0);
        x.Width = 0;
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Settings.AllowAutoFilter = DefaultBoolean.False;
        //x.ClientVisiable = false;

        //x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        //x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
    });

    //settings.ClientSideEvents.BatchEditConfirmShowing = "function(s, e) {  e.cancel = false; }";

}).Bind(Model).GetHtml()


<input type="hidden" value="@ViewData["ContractResourcesTotalAm"]" id="hdnContractResourcesTotalAm" />


