
@if (Model != null)
{
    @Html.DevExpress().GridView(
   settings =>
   {
       // settings = null;
       settings.Name = "gridcrmCases";

       settings.CallbackRouteValues = new { Controller = "CRMCases", Action = "PopulateGrid" };

       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
       // settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
       settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
       settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
       //settings.SettingsSearchPanel.Visible = true;
       settings.Settings.ShowFilterRow = true;
       settings.Settings.ShowGroupPanel = true;
       settings.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
       settings.Settings.ShowFilterBar = GridViewStatusBarMode.Hidden;
       settings.SettingsSearchPanel.Visible = true;
       settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
       settings.Styles.Row.Cursor = "pointer";
       settings.Settings.ShowFooter = true;
       settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
       settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
       settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;


       settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
       settings.SettingsPager.PageSizeItemSettings.Visible = true;
       settings.SettingsPager.PageSize = 20;
       settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
       settings.Settings.ShowFilterRowMenu = true;
       


       settings.Columns.Add(x =>
       {
           x.Caption = "CASE_ID";
           x.FieldName = "CASE_ID";
           x.Visible = false;
       });

       settings.Columns.Add(x =>
       {
           x.Caption = "Unique ID";
           x.FieldName = "CODE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);
           x.FixedStyle = GridViewColumnFixedStyle.Left;
       });

       settings.Columns.Add(x =>
       {
           x.Caption = "Title";
           x.FieldName = "TITLE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);
           
       });
       settings.Columns.Add(x =>
       {
           x.Caption = "Subject";
           x.FieldName = "SUBJECTS";
           x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);
           
       });

       settings.Columns.Add(x =>
       {
           x.Caption = "Customer";
           x.FieldName = "CUST_NAME";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        

       });
       settings.Columns.Add(x =>
       {
           x.Caption = "Origin";
           x.FieldName = "ORIGIN_NAME";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });

       
  

       settings.Columns.Add(x =>
       {
           x.Caption = "Responsed By";
           x.FieldName = "RESP_BY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });


       settings.Columns.Add(x =>
       {
           x.Caption = "Resolved By";
           x.FieldName = "RESV_BY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });



       settings.Columns.Add(x =>
       {
           x.Caption = "Address 1";
           x.FieldName = "ADDRESS1";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });



       settings.Columns.Add(x =>
       {
           x.Caption = "Address 2";
           x.FieldName = "ADDRESS2";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });



       settings.Columns.Add(x =>
       {
           x.Caption = "Address 3";
           x.FieldName = "ADDRESS3";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });
       settings.Columns.Add(x =>
       {
           x.Caption = "Landmark";
           x.FieldName = "LANDMARK";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });





       settings.Columns.Add(x =>
       {
           x.Caption = "Postal/Zip Code";
           x.FieldName = "PIN_CODE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });


       settings.Columns.Add(x =>
       {
           x.Caption = "City";
           x.FieldName = "CITY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });



       settings.Columns.Add(x =>
       {
           x.Caption = "State";
           x.FieldName = "STATE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });





       settings.Columns.Add(x =>
       {
           x.Caption = "Country";
           x.FieldName = "COUNTRY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });




       settings.Columns.Add(x =>
        {
            x.Caption = "Status";
            x.FieldName = "STATUS_ID";
            x.ColumnType = MVCxGridViewColumnType.TextBox;
            x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

        });

       

       settings.Columns.Add(x =>
       {
           x.Caption = "Status Date";
           x.FieldName = "STATUS_DATE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });

       settings.Columns.Add(x =>
       {
           x.Caption = "Est. Close Date";
           x.FieldName = "EST_CLOSE_DATE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });


       settings.Columns.Add(x =>
       {
           x.Caption = "Parent Case";
           x.FieldName = "PARENT_ID";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });

       
      
       
       settings.Columns.Add(x =>
       {
           x.Caption = "Owner";
           x.FieldName = "OWNER_NAME";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);


       });


       settings.Columns.Add(x =>
       {
           x.Caption = "Assign User";
           x.FieldName = "ASSIGNED_TO";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });
      
      settings.Columns.Add(x =>
       {
           x.Caption = "Escalated Date";
           x.FieldName = "Escalated_DATE";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });
       
       settings.Columns.Add(x =>
       {
           x.Caption = "First Response Sent";
           x.FieldName = "First_Response_Sent";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });

 
       settings.Columns.Add(x =>
       {
           x.Caption = "Created By";
           x.FieldName = "CREATED_BY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });

       settings.Columns.Add(x =>
       {
           x.Caption = "Created On";
           x.FieldName = "CREATED_ON";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });


       settings.Columns.Add(x =>
       {
           x.Caption = "Modified By";
           x.FieldName = "MODIFIED_BY";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });
       settings.Columns.Add(x =>
       {
           x.Caption = "Modified On";
           x.FieldName = "MODIFIED_ON";
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
           x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

       });


       settings.Columns.Add(x =>
       {
           x.Caption = "Action";
           x.Width = 0;
           x.ColumnType = MVCxGridViewColumnType.TextBox;
           x.Settings.AutoFilterCondition = AutoFilterCondition.Contains;


       });

       settings.ClientSideEvents.RowClick = "gridcrmCaseclick";


       settings.HtmlDataCellPrepared += (s, e) =>
           {
               if (e.DataColumn.Caption == "Action")
               {
                   MVCxGridView grid = (MVCxGridView)s;
                   Int64 ID = (Int64)grid.GetRowValues(e.VisibleIndex, new string[] { "CASE_ID" });
                   string Campaign_Name = (string)grid.GetRowValues(e.VisibleIndex, new string[] { "TITLE" });
                   string Campaign_Code = (string)grid.GetRowValues(e.VisibleIndex, new string[] { "CODE" });
                   
                   var buttonHtml = "<div class='floatedBtnArea'>";
                   if (ViewBag.CanView)
                       buttonHtml += string.Format("<a onclick=\"ViewClick('" + ID + "');\" title=\"\" class='ed '><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span><span class='hidden-xs'>View</span></a>");
                  
                   if (ViewBag.CanEdit)
                       buttonHtml += string.Format("<a onclick=\"EditClick('" + ID + "');\" title=\"\" class='ed '><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span><span class='hidden-xs'>Edit</span></a>");
                   if (ViewBag.CanDelete)
                       buttonHtml += string.Format("<a onclick=\"DeleteClick('" + ID + "');\" title=\"\" class=''><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true'></i></span><span class='hidden-xs'>Delete</span></a>");
                   if (ViewBag.CanCreateActivity)

                       buttonHtml += string.Format("<a onclick=\"DoActivity('" + ID + "');\" title=\"\" class=''><span class='ico ColorThree'><i class='fa fa-wrench'></i></span><span class='hidden-xs'>Activities</span></a>");
                   //buttonHtml += string.Format("<a onclick=\"AddMember('" + ID + "');\" title=\"\" class=''><span class='ico ColorFour'><i class='fa fa-user'></i></span><span class='hidden-xs'>Member(s)</span></a>");
                   //if (ViewBag.CanSharing)

                       //buttonHtml += string.Format("<a onclick=\"DoSharing('" + ID + "');\" title=\"\" class=''><span class='ico ColorFive'><i class='fa fa-share-alt'></i></span><span class='hidden-xs'>Sharing</span></a>");
                   //if (ViewBag.CanProducts)

                       //buttonHtml += string.Format("<a onclick=\"DoProducts('" + ID + "');\" title=\"\" class=''><span class='ico ColorSix'><i class='fa fa-cube'></i></span><span class='hidden-xs'>Products</span></a>");
                   if (ViewBag.CanLiterature)

                       buttonHtml += string.Format("<a onclick=\"AddLiterature('" + ID + "','" + Campaign_Name + "','" + Campaign_Code + "');\" title=\"\" class=''><span class='ico ColorSeven'><i class='fa fa-user'></i></span><span class='hidden-xs'>Literature(s)</span></a>");
                   buttonHtml += "</div>";
                   e.Cell.Text = buttonHtml;
               }

           };






   }).Bind(Model).GetHtml()

}
<style>
    #gridsalesman_DXHeadersRow0 > td {
        width: 200px !important;
    }
</style>

