@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvPagingF";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
  
    settings.CallbackRouteValues = new { Controller = "LeaveApplication", Action = "PartialLeaveListingGridFilter" };
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.KeyFieldName = "EmployeeCode";
    settings.EnableRowsCache = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    
  
    settings.Columns.Add(column =>
    {
        column.FieldName = "EmployeeCode";
        column.Caption = "Employee ID";
        column.Visible = false;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "EmployeeName";
        column.Caption = "Employee Name";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "LeaveName";
        column.Caption = "Leave Type";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Lev_Date_From";
        column.Caption = "Leave Start Date";
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
       
        
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Lev_Date_To";
        column.Caption = "Leave End Date";
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        
    });

  
    settings.Columns.Add(column =>
    {
        column.FieldName = "LeaveDays";
        column.Caption = "Leave Days";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "LeaveAppliedOn";
        column.Caption = "Leave Applied on";
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
       
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Status";
        column.Caption = "Status";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "EnteredBy";
        column.Caption = "Entered By";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "CreatedBy";
        column.Caption = "Approved By";
    });


    settings.Columns.Add(c =>
    {
        c.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                "<div class='floatedBtnArea'><a href=\"javascript:void(0);\" onclick=\"OnClickViewForm('" + DataBinder.Eval(tc.DataItem, "EmployeeCode") + "')\" class=\"\" title=\"View\"><span class='ico ColorFive'><i class='fa fa-eye'></i></span><span class='hidden-xs'>View</span></a>" +
                "&nbsp;" +
                "<a href=\"javascript:void(0);\" onclick=\"OnClickEditForm('" + DataBinder.Eval(tc.DataItem, "EmployeeCode") + "')\" class=\"\" title=\"Edit\"><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span><span class='hidden-xs'>Edit</span></a>" +
                 "&nbsp;" +
                "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "EmployeeCode") + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true'></i></span><span class='hidden-xs'>Delete</span></a>" 
              
            );
        });
        c.Settings.AllowDragDrop = DefaultBoolean.False;
        c.Settings.AllowSort = DefaultBoolean.False;
        c.Width = System.Web.UI.WebControls.Unit.Pixel(0);
        c.Caption = "";
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
    settings.ClientSideEvents.RowClick = "gridRowclick"; 
}).Bind(Model).GetHtml()