.customerno {
        right: -17px;
        top: 3px;
    }
    .workOverlay {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.71);
        z-index: 45;
    }
    .form-box {
        z-index: 101;
        background: #fff;
        position:relative;
    }
    .btn-workClose {
        width: 29px;
        height: 29px;
        display: inline-block;
        border: 1px solid #ff8080;
        color: #ff8080;
        text-align: center;
        border-radius: 50%;
        line-height: 27px;
        margin-top: -2p;
    }
    .btn-workClose:hover {
        background: #ff8080;
        color:#fff;
    }

    .pTop18 {
        padding-top: 18px;
    }
    .hrStyle {
        margin-top: 8px;
        margin-bottom: 10px !important;
        border: 1px solid #d9d7d7;
    }