@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc

@{
    ViewBag.Title = "Pay Structure List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function OnStructureClick() {
        var url = '/payrollStructure/Index?ActionType=ADD';
        window.location.href = url;
    }
</script>

<script>
    function OnCustomButtonClick(s, e) {
        var StructureID = s.keys[e.visibleIndex]

        if (e.buttonID == "btnView") {
            var url = '/payrollStructure/ViewDetails?ActionType=VIEW&StructureID=' + StructureID;
            window.location.href = url;
        }
        else if (e.buttonID == "btnEdit") {
            var url = '/payrollStructure/Index?ActionType=EDIT&StructureID=' + StructureID;
            //var url = '/payrollStructure/ViewDetails?ActionType=VIEW&StructureID=' + StructureID;
            window.location.href = url;
        }
        else if (e.buttonID == "btnDelete") {
            var obj = {};
            obj.StructureID = StructureID;

            jConfirm('Confirm delete?', 'Confirmation Dialog', function (r) {
                if (r == true) {
                    $.ajax({
                        type: "POST",
                        url: "/payrollStructure/DeleteStructure",
                        data: JSON.stringify(obj),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.ResponseCode == "Success") {
                                gvPaging.Refresh();
                                jAlert("Deleted successfully");
                            }
                            else {
                                jAlert(response.ResponseMessage);
                            }
                        },
                        error: function (response) {
                            jAlert("Please try again later");
                        }
                    });
                }
            });
        }
    }
</script>

<div class="panel-heading">
    <div class="panel-title clearfix">
        <h3 class="pull-left">Pay Structure</h3>
    </div>
</div>
<div class="form_main">
    <div class="clearfix">
        <a href="javascript:void(0);" onclick="OnStructureClick()" class="btn btn-primary"><span>Add Structure</span> </a>
    </div>
</div>
<div class="GridViewArea">
    @{
        Html.RenderAction("PartialStructureGrid", "payrollStructure");
    }

</div>