@using System.Web.UI.WebControls

@using DevExpress.Web.Mvc

@{
    ViewBag.Title = "Payroll Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function AddClass() {
        var url = '/PayrollClass/Index?ActionType=ADD';
        window.location.href = url;
    }
</script>
<script> 
    function OnClickEditForm(PClassId) {
        var url = '/PayrollClass/Index?ActionType=EDIT&PClassId=' + PClassId;
        window.location.href = url;
    }

    function OnClickDeleteForm(ClassId) {
        var url = '/PayrollClass/ClassDelete/';

        jConfirm("Confirm Delete?", "Confirmation Dialog", function (ret) {
            if (ret == true) {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ 'ActionType': 'DeleteClass', 'id': ClassId }),
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);

                        if (response.response_msg == "Success") {
                            jAlert("Successfully Deleted");
                            gvPagingClass.Refresh();
                        }
                        else {
                            jAlert(response.response_msg);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        });
    }
    function gridRowclick(s, e) {
        $('#gvPagingClass').find('tr').removeClass('rowActive');
        $('.floatedBtnArea').removeClass('insideGrid');
        //$('.floatedBtnArea a .ico').css({ 'opacity': '0' });
        $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea').addClass('insideGrid');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');
        setTimeout(function () {
            //alert('delay');
            var lists = $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a');
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a .ico').css({'opacity': '1'});
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a').each(function (e) {
            //    setTimeout(function () {
            //        $(this).fadeIn();
            //    }, 100);
            //});    
            $.each(lists, function (index, value) {
                //console.log(index);
                //console.log(value);
                setTimeout(function () {
                    $(value).css({ 'opacity': '1' });
                }, 100);
            });
        }, 200);
    }
</script>

<div class="panel-heading">
    <div class="panel-title clearfix">
        <h3 class="pull-left">Payroll Class</h3>
    </div>
</div>
<div class="form_main">
    <div class="clearfix">
        <a href="javascript:void(0);" onclick="AddClass()" class="btn btn-success btn-radius" ><span class="btn-icon"><i class="fa fa-plus"></i></span><span>Add New</span> </a>
    </div>
</div>
<div class="GridViewArea relative">
    @{
        Html.RenderAction("PartialClassGrid", "PayrollClass");
    }
</div>


