@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Welcome To CRM.</h1>

    <ul type="square">

        @*<li><a style="font-size: small;">@Html.ActionLink("Default Salary ", "Dashboard", "DefaultSalary")</a></li>
        <li><a style="font-size: small;">@Html.ActionLink("Generation Salary ", "Dashboard", "ImageSalary")</a></li>*@
    </ul>
</div>




