
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvFoundationInnerGrid" + ViewData["RID"];
    settings.SettingsDetail.MasterGridName = "gvFoundationMasterOuter";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "FoundationMaster", Action = "partialFoundationMasterInnerGrid", CODE = ViewData["RID"] };
    settings.KeyFieldName = "Code";
    settings.EnableRowsCache = true;
    settings.Settings.ShowFilterRow = true;
    settings.Columns.Add(column =>
           {
               column.FieldName = "CODE";
               column.Caption = "Code";
               column.Visible = false;
               column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
           });

    settings.Columns.Add(column =>
    {
        column.FieldName = "DESC";
        column.Caption = "Description";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });

    settings.Columns.Add(c =>
    {
        c.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "CODE") + "','gvFoundationInnerGrid" + ViewData["RID"] + "')\" class=\"pad\" title=\"Delete\"><img src=\"../../../assests/images/Delete.png\" /></a>" +
                "&nbsp;"
                //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "CODE") + "')\" class=\"pad\" title=\"Edit\"><img src=\"../../../assests/images/Delete.png\" /></a>" +
                // "&nbsp;"
                //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "StructureID") + "')\" class=\"pad\" title=\"Edit\"><img src=\"../../../assests/images/Delete.png\" /></a>"
            );
        });
        c.Settings.AllowDragDrop = DefaultBoolean.False;
        c.Settings.AllowSort = DefaultBoolean.False;
        c.Width = 100;
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });


}).Bind(Model).GetHtml()
