@*@model List<Payroll.Models.TableFormulaHeadBreakup>*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvFoundationMasterOuter";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "FoundationMaster", Action = "partialFoundationMasterOuterGrid" };

    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    //settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    settings.KeyFieldName = "CODE";
    settings.EnableRowsCache = true;
    settings.Settings.ShowFilterRow = true;
    settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;
    settings.SettingsDetail.ShowDetailRow = true;


    settings.Columns.Add(column =>
    {
        column.FieldName = "CODE";
        column.Caption = "Code";
        column.Visible = false;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    });
    
    settings.Columns.Add(column =>
    {
        column.FieldName = "DESC";
        column.Caption = "Description";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
    });


   settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;
    settings.SettingsDetail.ShowDetailRow = true;

    settings.SetDetailRowTemplateContent(c =>
    {

        Html.RenderAction("partialFoundationMasterInnerGrid", new { CODE = DataBinder.Eval(c.DataItem, "CODE") });
    });
    settings.PreRender = (sender, e) =>
    {
        //((MVCxGridView)sender).DetailRows.ExpandRow(0);
    };

    settings.Columns.Add(c =>
    {
        c.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                "<a href=\"javascript:void(0);\" onclick=\"OnClickAdd('" + DataBinder.Eval(tc.DataItem, "CODE") + "','" + DataBinder.Eval(tc.DataItem, "DESC") + "')\" class=\"pad\" title=\"Add\"><img src=\"../../../assests/images/Add.png\" /></a>" +
                "&nbsp;"
                //"<a href=\"javascript:void(0);\" onclick=\"OnClickEditForm('" + DataBinder.Eval(tc.DataItem, "StructureID") + "')\" class=\"pad\" title=\"Edit\"><img src=\"../../../assests/images/info.png\" /></a>" +
                // "&nbsp;" +
                //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "StructureID") + "')\" class=\"pad\" title=\"Edit\"><img src=\"../../../assests/images/Delete.png\" /></a>"
            );
        });
        c.Settings.AllowDragDrop = DefaultBoolean.False;
        c.Settings.AllowSort = DefaultBoolean.False;
        c.Width = 100;
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });

}).Bind(Model).GetHtml()


