@Html.DevExpress().GridView(settings =>
{
    settings.Name = "GetServiceProductEntryList";
    settings.CallbackRouteValues = new { Action = "GetServiceProductEntryList", Controller = "ServiceContact" };
    settings.KeyFieldName = "HIddenID";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
   
    //settings.Settings.VerticalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    
    settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
    settings.SettingsBehavior.AllowSort = false;
    
    
    settings.SettingsEditing.BatchEditSettings.EditMode = DevExpress.Web.GridViewBatchEditMode.Cell;
    settings.SettingsEditing.BatchEditSettings.StartEditAction = DevExpress.Web.GridViewBatchStartEditAction.Click;
    settings.SettingsEditing.NewItemRowPosition = DevExpress.Web.GridViewNewItemRowPosition.Bottom;

    settings.Settings.HorizontalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = DevExpress.Web.ColumnResizeMode.Control;
    settings.SettingsPager.PageSizeItemSettings.Visible = false;
    settings.SettingsPager.PageSize = 100000;
    
    


    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductName";

        x.Caption = "Product/Services";
      
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        x.ReadOnly = true;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductQty";
        x.Caption = "Quantity";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(14);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.ReadOnly = true;
      
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "Price";
        x.Caption = "Price";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(14);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.ReadOnly = true;
      
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Amount";
        x.Caption = "Amount";

        x.Width = System.Web.UI.WebControls.Unit.Percentage(14);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.ReadOnly = true;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "WarrentyStartdate";
        x.Caption = "Warranty Start";

        x.Width = System.Web.UI.WebControls.Unit.Percentage(14);//120;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DevExpress.Web.DateEditProperties).EditFormatString = "dd-MM-yyyy";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
       
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "WarrentyEnddate";
        x.Caption = "Warranty End";

        x.Width = System.Web.UI.WebControls.Unit.Percentage(14); //120;
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DevExpress.Web.DateEditProperties).EditFormatString = "dd-MM-yyyy";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
      
    });
    
    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductDetailsID";
        x.Caption = "ProductDetailsID";

        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
    });
    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        //x.VisibleIndex = 16;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(25); ;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.ReadOnly = true;
        x.SetDataItemTemplateContent(c =>
        {
            string EnqRights = "";
            EnqRights = EnqRights + "&nbsp;&nbsp;<a style='cursor:pointer;' onclick=\"DeleteData('" + Convert.ToString(DataBinder.Eval(c.DataItem, "HIddenID")) + "')\"><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true' data-toggle='tooltip' data-placement='left' title='Delete'></i></span><span class='hidden-xs'></span></a>";

            ViewContext.Writer.Write(EnqRights);
        });
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ProductId";
        x.Caption = "Product ID";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Width = 0;
    });

   

}).Bind(Model).GetHtml()



@*<input type="hidden" value="@ViewData["EstimateEntryProductsTotalAm"]" id="hdnEstimateEntryProductsTotalAm" />*@

