.swiper-container {
    width: 100%;
    height: auto;
}
.swArea .swiper-slide {
    min-height:50px;
}
.swArea .swiper-button-prev, .swArea .swiper-button-next {
    width: 15px;
    height: 15px;
    font-size: 11px;
    top: auto;
    bottom: -25px;
}
.swArea .swiper-button-prev::after, .swArea .swiper-button-next::after {
    font-size:15px;
}
.swArea .swiper-button-prev {
    left: 0;
}
.swArea .swiper-button-next {
    right: 13px;
}
.widget {
    width: 100%;
    text-align: center;
    color: #fff;
    display:flex;
    border-radius:3px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.widget.DisableClass{
    border-bottom: 4px dashed #f4f7f5;
}
.widget .iconBox {
    width: 50px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.widget .textInbox {
    text-align: left;
        flex: 1;
        padding:5px 12px;
}
.widget.c1 {
    background: #8076e9;
}

.widget.c2 {
    background: #d8b861;
}

.widget.c3 {
    background: #1a8a9b;
}

.widget.c4 {
    background: #f46b4b;
}
.widget.c5 {
    background: #F4C043;
}
.widget.c6 {
    background: #33B7E8;
}
.widget.c7 {
    background: #773EEA;
}
.widget.c8 {
    background: #2EBF72;
}
.wdgLabel {
    font-size: 14px;
}
.wdgNumber {
    font-size: 26px;
    font-weight: 600;
}

.swArea {
    padding-bottom: 30px;
    overflow-x: hidden;
}
.swArea .swiper-container {
    overflow: visible;
}


.colorBox {
    background: #4f4e94;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.infoWrp {
    padding: 12px 15px;
    position: relative;
}
.infoWrp > .nums {
    font-size: 20px;
    font-weight: 600;
}
.infoWrp > .txts {
    font-size: 80%;
}
.mrLinks {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.34);
    padding: 5px 10px;
    font-size: 14px;
}
.mrLinks > .fa {
    float: right;
    margin-top: 4px;
}
.fltd {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 44px !important;
    color: rgba(0, 0, 0, 0.54);
}
.ant-picker {
    width: 100%;
}
.chartBox {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
}
.chartBox .hader{
    font-size: 17px;
    padding: 7px 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #696363;
}
.ant-form-item {
    margin-bottom: 5px;
}
.justify-content-center {
    justify-content: center;
}
.mainDashBoxes {
    flex-wrap: wrap;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.mainDashBoxes .flex-itm {
    position: relative;
}
.mainDashBoxes .flex-itm:not(:last-child){
    margin-right: 10px;
}