@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridSkillMasterList";
    settings.CallbackRouteValues = new { Action = "GetSkillMasterPartial", Controller = "SkillMaster" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    //  settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DevExpress.Utils.DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DevExpress.Utils.DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.Settings.ShowFilterRowMenu = true;
    settings.Settings.HorizontalScrollBarMode = DevExpress.Web.ScrollBarMode.Visible;

    settings.Columns.Add(x =>
    {
        x.FieldName = "SkillName";
        x.Caption = "Name";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

        // x.Width = System.Web.UI.WebControls.Unit.Percentage(20);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "DESCRIPTION";
        x.Caption = "Description";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Charecteristic_Type";
        x.Caption = "Characteristic Type";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

        // x.Width = System.Web.UI.WebControls.Unit.Percentage(20);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Branch";
        x.Caption = "Unit";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(8);
        // x.Width = System.Web.UI.WebControls.Unit.Percentage(20);

    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "CREATE_NAME";
        x.Caption = "Entered By";
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(8);
        // x.Width = System.Web.UI.WebControls.Unit.Percentage(20);

    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "CREATE_DATE";
        x.Caption = "Entered On";
        x.VisibleIndex = 6;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(14);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DevExpress.Web.DateEditProperties).EditFormatString = "dd-MM-yyyy";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

    });

    settings.Columns.Add(x =>
       {
           x.FieldName = "UPDATE_NAME";
           x.Caption = "Modified By";
           x.VisibleIndex = 7;
           x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
           //  x.Width = System.Web.UI.WebControls.Unit.Percentage(30);

       });


    settings.Columns.Add(x =>
    {
        x.FieldName = "UPDATE_DATE";
        x.Caption = "Modified On";
        x.VisibleIndex = 8;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
        (x.PropertiesEdit as DevExpress.Web.DateEditProperties).EditFormatString = "dd-MM-yyyy hh:mm:ss";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

    });

    settings.ClientSideEvents.RowClick = "gridRowclick";
    settings.Columns.Add(x =>
    {
        x.Caption = "";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(1);
        x.VisibleIndex = 9;

        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div class='floatedBtnArea'>");
            if (ViewBag.CanEdit)
            {
                ViewContext.Writer.Write("<a title='' style='cursor:pointer' class='' onclick=\"OpenSkillMasterforEdit('" + Convert.ToString(DataBinder.Eval(c.DataItem, "SKILL_ID")) + "')\"><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span><span class='hidden-xs'>Edit</span></a>");
            }
            if (ViewBag.CanView)
            {
                ViewContext.Writer.Write("<a title='' style='cursor:pointer' class='' onclick=\"OpenSkillMasterforView('" + Convert.ToString(DataBinder.Eval(c.DataItem, "SKILL_ID")) + "')\"><span class='ico ColorFive'><i class='fa fa-eye'></i></span><span class='hidden-xs'>View Details</span></a>");
            }
            if (ViewBag.CanDelete)
            {
                ViewContext.Writer.Write("<a title='' style='cursor:pointer' class='' onclick=\"OpenSkillMasterforDelete('" + Convert.ToString(DataBinder.Eval(c.DataItem, "SKILL_ID")) + "')\"><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true'></i></span><span class='hidden-xs'>Delete</span></a>");
            }
            ViewContext.Writer.Write("</div>");
            // ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ROLE_ID")) + "')\">" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_Number")) + "</a>");
        });
        
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
    settings.ClientSideEvents.RowClick = "gridRowclick";
    //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Order_Value"); ;
    //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Delivered_Value");
    //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "countactivity").DisplayFormat = "0";

}).Bind(Model).GetHtml()
